<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>energyscarf</title>
  <link rel="stylesheet" type="text/css" href="/assets/index.css" />
</head>

<body>
  <div class="layout">
    <header>
      <a href="/"><img src="/assets/energyscarf_banner.png" alt="energyscarf" /></a>
    </header>

    <aside class="box">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a></li>
      </ul>
    </aside>

    <main class="box">
      <section class="section">
        {% block content %} {% endblock content %}
      </section>
    </main>

    <footer class="box">© 2026 energyscarf <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></footer>
  </div>
</body>

</html>
