<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>energyscarf</title>
  <link rel="stylesheet" type="text/css" href="/assets/index.css" />
  <link rel="icon" href="/assets/favicon.png" />
</head>

<body>
  <div class="layout">
    <header>
      <a href="/"><img src="/assets/energyscarf_banner.png" alt="energyscarf" /></a>
    </header>

    <aside class="box">
      <nav class="sidebar-nav">
        <a href="/">Home</a>
        <a href="{{ get_url(path='@/about.md') }}">About</a>
        <a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a>
      </nav>
    </aside>

    <main class="box">
      <section class="section">
        {% block content %} {% endblock content %}
      </section>
    </main>

    <footer class="box">© 2026 energyscarf <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></footer>
  </div>
</body>

</html>
