{% extends "base.html" %}

{% block content %}
<h1 class="title">
  energyscarf
</h1>
<p>Welcome to my website! Still under construction, but here are some links!</p>
<h2>Other Sites</h2>
<ul>
  <li><a href="https://bsky.app/profile/energyscarf.pmd.social">Bluesky</a></li>
  <li><a href="https://energyscarf.tumblr.com">Tumblr</a></li>
  <li><a href="https://backloggery.com/energyscarf">Backloggery</a></li>
</ul>
<h2>Site Navigation</h2>
<ul>
  <li><a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a></li>
</ul>
{% endblock content %}
